footer{
    background-color: #cc4200;
    margin:15px;
  
    

}
.card-footer {
    color: whitesmoke;
    
    
}

.foot-text{
    margin:auto;
    align-items: center;
}

@media (max-width:800px){
    footer{
        background-color: #cc4200;
       
        margin: auto;
        align-items: center;
        
    
    }
}


@media (max-width:1130px){
    footer{
        background-color: #cc4200;
       
        margin: auto;
        align-items: center;
        
    
    }

}

@media (max-width:500px){
    footer{
        background-color: #cc4200;
       
        margin: auto;
        align-items: center;
        
    
    }
   

}

@media (max-height:900px){
    footer{
        background-color: #cc4200;
       
        margin: auto;
        align-items: center;
        
    
    }

}
