
<div class="tab-content">
    <h1>
        ¿CANSADO DE COMER EN EL MISMO LUGAR?
    </h1>
        <div class="text-center content ">
            <p>
            ¡Melp, es para tí!
            </p>
            
            <br>
            <p>
            La cual, es una plataforma que brinda Una gran gama de restaurantes a nuestros Comensales de cualquier parte de la República.
            </p>
            <br>
            <h3> 
            Te esperamos
            </h3>

        </div>

    <div class="fotosRestaurantes d-flex align-items-start flex-column">
        <div class="fotosRestaurantes1" align="left">
                <img class="logo img-fluid" src="/assets/imgs/rest2.jpg"/>
                <img class="logo img-fluid" src="/assets/imgs/rest5.jpg"/>
                  <img class="logo img-fluid" src="/assets/imgs/rest6.jpg"/>
                  <img class="logo img-fluid" src="/assets/imgs/rest1.jpg"/>
                
        </div>
        <div class="fotosRestaurantes1" align="right">
               <img class="logo img-fluid" src="/assets/imgs/rest3.jpg"/>
                  <img class="logo img-fluid" src="/assets/imgs/rest4.jpg"/>
               
                
        </div>
            
            
            
    </div>
    


</div>

